@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

html {
    height: 100%;
    margin: 0;
}

body {
    background-color: #000;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container img {
    box-shadow: 0px 20px 61px 5px rgba(255,255,255,1);
    border-radius: 50%;
    width: 100%;
}

.sign {
    color: #fff;
    margin-bottom: 20px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
    letter-spacing: 2px;
}